{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}

<!-- content start -->


  <div class="admin-content">
  {{template "Tpl/navigation" .}}
  <div class="am-g am-g-fixed am-margin-top">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">浏览器统计<span class="am-icon-chevron-down am-fr" ></span></div>
      <div id="collapse-panel-2" class="am-in">
        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
          <tbody>
          <tr>
            <th class="am-text-center">#</th>
            <th>浏览器</th>
            <th>访问量</th>
          </tr>
          <tr>
            <td class="am-text-center"><img src="assets/i/examples/admin-chrome.png" alt=""></td>
            <td>Google Chrome</td>
            <td>3,005</td>
          </tr>
          <tr>
            <td class="am-text-center"><img src="assets/i/examples/admin-firefox.png" alt=""></td>
            <td>Mozilla Firefox</td>
            <td>2,505</td>
          </tr>
          <tr>
            <td class="am-text-center"><img src="assets/i/examples/admin-ie.png" alt=""></td>
            <td>Internet Explorer</td>
            <td>1,405</td>
          </tr>
          <tr>
            <td class="am-text-center"><img src="assets/i/examples/admin-opera.png" alt=""></td>
            <td>Opera</td>
            <td>4,005</td>
          </tr>
          <tr>
            <td class="am-text-center"><img src="assets/i/examples/admin-safari.png" alt=""></td>
            <td>Safari</td>
            <td>505</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- content end -->
  </div>
</div>

{{template "Tpl/footer" .}}

</body>
</html>