
.me-sidebar {
    margin-left: 20px;
}

.am-g-fixed {
    margin-left: 17px;
}

.me-panel-header {
    font-weight: bold;
    text-align: center;
}

.me-db-navigation {
    margin-left: 15px;
}

.me-div-left {
    float: left;
}

.me-cap-col-op {
    padding-left: 98px;
}

.me-cap-col-op span {
    background-color: #f3f3f3;
    padding: 5px 5px 5px 5px;
}

.me-cap-cal-op-checkbox {
    padding-left: 38px;
}
