{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}


{{set . "navigation" "导入"}}
{{set . "active" "dbImport"}}
<!-- content start -->

  <div class="admin-content">
  {{template "Tpl/dbNavigationOne" .}}
  {{template "Tpl/dbNavigationTwo" .}}
  <div class="am-g am-g-fixed am-margin-top">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd am-cf me-panel-header" data-am-collapse="{target: '#database-statistics'}">
        导入<span class="am-icon-chevron-down am-fr" ></span></div>
     <div id="database-statistics" class="am-in am-container">
     <br>
  
        <form class="am-form am-form-horizontal am-container" >
            <div>
              <strong>
                 <span>.JS file exported with RockMongo:</span>
              </strong>
             
              <hr>
              <div class="am-form-group am-form-file">
                <span>JS File: </span>
                <button type="button" class="am-btn am-btn-default am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                  <input id="js-file"  type="file" multiple>
                  <span id="js-file-list"></span>
              </div>       
          </div>
          <div>
            <strong><span>Confirm</span></strong>
            <hr>
            <div class="am-u-sm-8 am-u-sm-centered">
              <button type="button" class="am-btn am-btn-primary am-btn-block">导入</button>
            </div>
            </div>    
        </form>
        <br>
        <br>
        <br>
        <form class="am-form am-form-horizontal am-container" >

        <div>
          <strong>
             <span>.JSON file exported with <a href="http://www.mongodb.org/display/DOCS/Import+Export+Tools">mongoexport:</a></span>
          </strong>
          <hr>
          <div class="am-form-group">
            <span class="am-u-sm-3">Import to collection name:</span>
            <div class="am-u-sm-8 am-u-end" >
              <input type="text">
            </div>
          </div> 
          <div class="am-form-group am-form-file">
           
              <span>JSON File: </span>
              <button type="button" class="am-btn am-btn-default am-btn-sm">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                <input id="json-file"  type="file" multiple>
                <span id="json-file-list"></span>
          </div>
        </div>
          <div>
            <strong><span>Confirm</span></strong>
            <hr>
            <div class="am-u-sm-8 am-u-sm-centered">
              <button type="button" class="am-btn am-btn-primary am-btn-block">导入</button>
            </div>
            </div>
        </form>
        <br>
        </div>
    </div>
  </div>
  <!-- content end -->
  </div>
</div>
<script src="/js/db/dbImport.js"></script>
{{template "Tpl/footer" .}}
</body>
</html>