{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}


{{set . "navigation" "导入"}}
{{set . "active" "dbImport"}}
<!-- content start -->

  <div class="admin-content">
  {{template "Tpl/dbNavigationOne" .}}
  {{template "Tpl/dbNavigationTwo" .}}
  <div class="am-g am-g-fixed am-margin-top">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd am-cf me-panel-header" data-am-collapse="{target: '#database-statistics'}">
        导入<span class="am-icon-chevron-down am-fr" ></span></div>
     <div id="database-statistics" class="am-in am-container">
     <br>
  
        <form class="am-form am-form-horizontal am-container" >
            <div>
              <strong>
                 <span>.JS file exported with RockMongo:</span>
              </strong>
             
              <hr>
              <div class="am-form-group am-form-file">
                <span>JS File: </span>
                <button type="button" class="am-btn am-btn-default am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                  <input id="doc-form-file"  type="file" multiple>
                  <span id="file-list"></span>
                  <script>
                    $(function() {
                      $('#doc-form-file').on('change', function() {
                        var fileNames = '';
                        $.each(this.files, function() {
                          fileNames += '<span class="am-badge">' + this.name + '</span> ';
                        });
                        $('#file-list').html(fileNames);
                      });
                    });
                  </script>
              </div>
          </div>
          <div>
            <strong>
               <span>Download?   &nbsp;&nbsp;&nbsp;<label>
                  <input type="checkbox"  value="">
                </label>
                </span>
            </strong>
            <hr>
          </div>
          <div>
            <strong>
               <span>Compressed:   &nbsp;&nbsp;&nbsp;<label>
                  <input type="checkbox"  value="">GZIP 
                </label>
                </span>
            </strong>
            <hr>
          </div>
          <div>
            <strong><span>Confirm</span></strong>
            <hr>
            <div class="am-u-sm-8 am-u-sm-centered">
              <button type="button" class="am-btn am-btn-primary am-btn-block">导出</button>
            </div>
            </div>
        </form>
        <br>
        </div>
    </div>
  </div>
  <!-- content end -->
  </div>
</div>

{{template "Tpl/footer" .}}
</body>
</html>