{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}


{{set . "navigation" "用户"}}
{{set . "active" "dbUsers"}}
<!-- content start -->

  <div class="admin-content">
  {{template "Tpl/dbNavigationOne" .}}
  {{template "Tpl/dbNavigationTwo" .}}
  <div class="am-g am-g-fixed am-margin-top">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd am-cf me-panel-header" data-am-collapse="{target: '#database-statistics'}">
        用户<span class="am-icon-chevron-down am-fr" ></span></div>
     <div id="database-statistics" class="am-in am-container">
        <br>
         <a href="" id="users-list-a">Users</a> &nbsp; &nbsp;| &nbsp; &nbsp;  <a href="" id="add-user-a">Add User</a>
        <br>
        <div id="users-list" >
          <table class="am-table am-table-striped am-table-hover">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Read Only</th>
                      <th>Operation</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
        </div>
       <div id="add-user" style="display:none">
         
       </div>
     </div>
    </div>
  </div>
  <!-- content end -->
  </div>
</div>

{{template "Tpl/footer" .}}
<script src="/js/db/dbUsers.js"></script>
</body>
</html>