{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}

<!-- content start -->

  <div class="admin-content">
  <div class="me-db-navigation">
    <a href="/home"><span class="am-icon-globe">&nbsp;数据库</span></a>&nbsp;
    <span class="am-icon-angle-double-right"></span>&nbsp;
    <a href="/db/home"><span class="am-icon-database">&nbsp;苹果公司</span></a>&nbsp;
    <span class="am-icon-angle-double-right"></span>&nbsp;
    <a href="/db/home"><span class="am-icon-table">&nbsp;Apple</span></a>
  </div>
  <!-- content end -->
  </div>
</div>

{{template "Tpl/footer" .}}

</body>
</html>