<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TinMongo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/css/amazeui.min.css"/>
	<style>
	  .header {
	    text-align: center;
	  }
	  .header h1 {
	    font-size: 200%;
	    color: #333;
	    margin-top: 30px;
	  }
	  .header p {
	    font-size: 14px;
	  }
	</style>
</head>
<body>
	<div class="header">
	  <div class="am-g">
	    <h1>TinMongo</h1>
	    <strong>
	    	<p>Welcome to use TinMongo<br/>欢迎使用TinMongo</p>
	    </strong>
	    
	  </div>
	  <hr />
	</div>
	<div class="am-g">
	  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
	    <br>
	    <br>
	    <form method="post" class="am-form">
	      <label for="email">用户名:</label>
	      <input type="text" name="" id="email" value="">
	      <label for="password">密码:</label>
	      <input type="password" name="" id="password" value="">
	      <br>
	      <br />
	      <div class="am-cf">
	        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
	      </div>
	    </form>
	    <hr>
	    <p>© 2016 CWen  &&  zjj.</p>
	  </div>
	</div>
</body>
</html>