{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}

  <div class="admin-content">
  {{template "Tpl/navigation" .}}
      
        
      <div class="am-g am-g-fixed am-margin-top">
          <div >
              <a href=""><i class="am-icon-angle-double-right"></i>&nbsp;&nbsp; Javascript API
</a>
          </div>
          <form class="am-form">
              <fieldset>
                  <div class="am-form-group" id="divCode">
                      <textarea class="" rows="14" id="code"></textarea>
                  </div>
                  <div class="am-form-group" id="divDatabase">
                       <label for="Database">Database:</label>
                       <select id="Database">
                         <option value="option1">Admin</option>
                         <option value="option2">Admin</option>
                         <option value="option3">Admin</option>
                       </select>
                       <span class="am-form-caret"></span>
                 </div>
                 <div id="arguments"></div>
                 <div class="am-form-group">
                      <label for="Format">Argument:</label>
                      <button type="button" class="am-btn am-btn-default" id="argumentAdd"><i class="am-icon-plus"></i>Add</button>
                      <span class="am-form-caret"></span>
                    </div>
                    
                    <div class="am-form-group">
                        <button type="button" class="am-btn am-btn-default am-btn-block">执行代码</button>     
                    </div>
                </fieldset>
          </form>
          
        </div>
    </div>
</div>
{{template "Tpl/footer" .}}
<script type="text/javascript">
(function() {
  var dom = {
    argumentAdd : $("#argumentAdd"),
    divCode : $("#divCode"),
    divDatabase : $("#divDatabase"),
    arguments : $("#arguments")
  }

  var argument = {
     init : function(){
          this.eventFn();
     },
     eventFn : function() {
          dom.argumentAdd.bind('click',function() {
            var no = dom.arguments.children("div").length;
            var divArgument = "<div class=\"am-form-group\">Argument #<span>" + no +  "</span>[JSON]  &nbsp;&nbsp;<a href=\"#\" onclick=\"removeArgument(this);return false;\" >Remove</a><textarea rows=\"4\"></textarea></div>"
              dom.arguments.append(divArgument);
          });

     }
  }

  argument.init();
})()

function removeArgument(link) {
  $(link).parent().remove();
  
  //re-order
  var divs = $("#arguments").children("div");
  for (var i=0; i<divs.length; i++) {
    $(divs[i]).find("span").html(i);
  }
}

</script>
  </body>
  </html>